## Dictionary

In [4]:
#A dictionary is a built-in data type in Python that stores data in key–value pairs, and it is represented using curly braces {}.

#ways to create a dictionary:
d = {}
d = dict()
d = dict([("name", "Likitha"), ("age", 21)])
print(d)

{'name': 'Likitha', 'age': 21}

### Dictionary Properties

In [ ]:
1.Order
2.Hetroginious
3.Nestead
4.mutability
5.Duplicates

In [5]:
d={1:"apple",2:"bannana",3:"cherry"}   # Dictionary is orded
d

{1: 'apple', 2: 'bannana', 3: 'cherry'}

In [8]:
d={1:"apple",2:"bannana",3:("hii",12,13),12:200,233:["hiii"]}
d                     # Dictionary values can be any data type
                    # But keys are definatly hashable type(tuple,int,string)

{1: 'apple', 2: 'bannana', 3: ('hii', 12, 13), 12: 200, 233: ['hiii']}

In [13]:
d={1:"apple",2:"bannana",3:"cherry",5:{4:"hii",6:"liki"}}
d                    #Nestead

{1: 'apple', 2: 'bannana', 3: 'cherry', 5: {4: 'hii', 6: 'liki'}}

In [27]:
d={1:"say",2:"hello",3:"speak"}
d[3]="python"
print("Before:",id(d))
print("AFter:",id(d))

Before: 2556029851840
AFter: 2556029851840

In [21]:
d={1:"say",2:"hello",3:"speak"}
d[3]="python"
print(d)
print(id(d))

{1: 'say', 2: 'hello', 3: 'python'}
2556029815296

In [26]:
d={1:"say",2:"hello",3:"speak"}
print(d)
print(id(d))
d[3]="python"
print(id(d))        #Both ids same so dictionary is mutable but keys are immutable 
print(d)

{1: 'say', 2: 'hello', 3: 'speak'}
2556030578560
2556030578560
{1: 'say', 2: 'hello', 3: 'python'}

In [28]:
#a #values are homogeneous ,while keys allow only hashable datatype
a={1:20,2:45,3:7,1:9}  
a={1:20,2:45,3:7,11:20} 
a #no duplicates allowed for keys ,while allowed for values

## Methods and functions on Dictionary

In [33]:
1. get()
2. keys()
3. values()
4. items()
5. update()
6. pop()
7.popitem()
8.clear()
9. setdefault()
10. copy()
11. fromkeys()
12.len(d)
13.sorted(d)
14.max(d)
15.min(d)

In [10]:
#get()
d = {"name": "Likitha", "age": 22}
print(d.get("name"))         #get returns the value of the particular key
print(d.get(d.get("city")))  # if the value is not found get returns the None 
print(d.get("city","NA"))   #provided default value "NA"
print(d)

Likitha
None
NA
{'name': 'Likitha', 'age': 22}

In [11]:
#keys()
d = {"name": "Likitha", "age": 22,"course":"python"}
d.keys()               #provides all keys in given dictionary

dict_keys(['name', 'age', 'course'])

In [12]:
#values()
d = {"name": "Likitha", "age": 22,"course":"python"}
d.values()   #provides all values in given dictionary

dict_values(['Likitha', 22, 'python'])

In [13]:
#items()
d = {"name": "Likitha", "age": 22,"course":"python"}
d.items()   #Returns key-value pairs as tuples.

dict_items([('name', 'Likitha'), ('age', 22), ('course', 'python')])

In [16]:
#update()
l = {"name": "Likitha", "age": 22,"course":"python"}
l.update({"city": "Hyderabad"})  #If key does NOT exist → update() adds it.
l.update({"age": 25}) 
l                     #If key already exists → update() changes the value.

{'name': 'Likitha', 'age': 25, 'course': 'python', 'city': 'Hyderabad'}

In [19]:
#pop()
l={"apples":3,"cherry":2,"mango":5}
l.pop() #pop expected at least 1 argument, got 0 , in dictionary it is not delete the last key and values

TypeError: pop expected at least 1 argument, got 0

In [21]:
l={"apples":3,"cherry":2,"mango":5}
print(l.pop("mango"))
print(l.pop("hii")) #if key is not found it gives Error

5

KeyError: 'hii'

In [23]:
#popitem()
d = {"name": "Likitha", "age": 22, "city": "Hyderabad"}
item = d.popitem()     #popitem gives the last inserted key-value pair
print(item)              #Returns it as a tuple (key, value)

('city', 'Hyderabad')

In [24]:
#clear()
d = {"name": "Likitha", "age": 22, "city": "Hyderabad"}
d.clear()   #Removes all key-value pairs from dictionary
print(d)      #Does NOT delete dictionary variable

{}

In [28]:
#setdefault()
d = {"name": "Likitha"}    #"city" was not there Added automatically becuase of setdefault()
result = d.setdefault("city", "Hyderabad")
d

{'name': 'Likitha', 'city': 'Hyderabad'}

In [30]:
d = {"name": "Likitha", "age": 22}
result = d.setdefault("name", "Unknown")
print(result)  #If key exists → returns its value
print(d)

Likitha
{'name': 'Likitha', 'age': 22}

In [31]:
#copy()
d = {"name": "Likitha", "age": 22}
d2 = d.copy()  #Makes a new dictionary with same key-value pairs
print(d2)

{'name': 'Likitha', 'age': 22}

In [35]:
d = {"a": 10, "b": 20}
d2 = d.copy()
d2["a"] = 100
print(d)
print(d2)   #Changing copy does NOT affect original

{'a': 10, 'b': 20}
{'a': 100, 'b': 20}

In [37]:
d={"liki": [1, 2, 3]}
d2=d.copy()
d2["liki"].append(4)
print(d)
print(d2)

{'liki': [1, 2, 3, 4]}
{'liki': [1, 2, 3, 4]}

In [39]:
keys = ["a", "b", "c"]
d = dict.fromkeys(keys, 2)
print(d)

{'a': 2, 'b': 2, 'c': 2}

In [40]:
keys = ["a", "b"]
d = dict.fromkeys(keys, []) #If value is mutable (like list), all keys share same object.
d["a"].append(1)
print(d)

{'a': [1], 'b': [1]}

In [41]:
keys = ["x", "y", "z"]
d = dict.fromkeys(keys)  #Not provide any value means Default value is None 
print(d)

{'x': None, 'y': None, 'z': None}

In [43]:
#len

d = {"name": "Likitha", "age": 22, "city": "Hyderabad"}
print(len(d)) #Returns the number of key-value pairs in dictionary.

3

In [44]:
#sorted(d)
d = {"b": 2, "a": 1, "c": 3}
print(sorted(d)) #Sorts the keys of the dictionary

['a', 'b', 'c']

In [45]:
#max()
d = {"a": 10, "c": 30, "b": 20}
print(max(d)) #Returns the largest key in the dictionary

c

In [46]:
d = {5: "A", 2: "B", 9: "C"}
print(max(d))   #Largest number in key

9

In [48]:
#min()
d = {"a": 10, "c": 30, "b": 20}
print(min(d))   #Returns the smallest key in the dictionary

a

In [49]:
d = {5: "A", 2: "B", 9: "C"}
print(min(d))

2

In [54]:
#zip()

a={9:99,7:77,8:88} 
b={12:33,14:44,15:55} 
c=*a,*b  # 'dict' has no attribute 'zip'
type(c) 
dict.zip(b)

AttributeError: type object 'dict' has no attribute 'zip'

In [56]:
b={1:111,2:222,3:333}
a.get(12) 
a.update({12:999}) 

#a.fromkeys(b)
a.fromkeys(a,b) 
#dict.fromkeys(a,b) 
zip(a,b)

In [57]:
a={12:13,3:4,5:6}  
b={1:111,2:222,3:333} 
#dict.fromkeys(a,b)   
list(zip(a,b)) 
*a,*b

(12, 3, 5, 1, 2, 3)

In [53]:
#Given a list of integers, write a Python program to count how many times each element appears in the list. And if count=1 print. .
l = [4, 4, 5, 2, 5, 2, 2, 6]
count=0
d={}
for i in l:
    d[i] = d.get(i, 0) + 1
for key, value in d.items():
    if value == 1:
        print(key)

6