# List_in_Python

Definition of list:
A list in Python is a built-in data type used to store multiple items in a single variable.
list written using square brackets [ ]

## Properties of List

In [ ]:
#List is 
Ordered
Heterogeneous
Nested
Allows Duplicates
Mutable

In [2]:
l=["123","liki",{2:"l",3:"m",4:"k"},(1,23,"liki")] #Order
l                                                  #Heterogeneous

['123', 'liki', {2: 'l', 3: 'm', 4: 'k'}, (1, 23, 'liki')]

In [3]:
l=["123","liki",{2:"l",3:"m",4:"k"},(1,23,"liki"),["vamsi",22]] 
l                                                               # Nested

['123', 'liki', {2: 'l', 3: 'm', 4: 'k'}, (1, 23, 'liki'), ['vamsi', 22]]

In [4]:
a=[1,2,33,44,2,2,1,1,33,344,44]
a                                                #Allows Duplicates

[1, 2, 33, 44, 2, 2, 1, 1, 33, 344, 44]

In [8]:
l=["hiii","Good Morning",22,"apple"]
print(id(l))
l[0]="Python"
l
print(id(l))               #In this i have take list and add "python" at 0th index position and check original list id and changed list id both are same so it is mutable.

2075354612864
2075354612864

Observations:
1.A list is ordered.It supports indexing and slicing, and index starts from 0.
2.A list allows all data types, including immutable data types.It can store different types of elements together, so it is called heterogeneous.
3.A list is mutable, meaning we can create and manipulate (add, remove, update) elements after creation.
If the id remains the same after modification, it means the object is mutable.

## List Functions

List_methods
1.append()
2. extend()
3. remove()
4. clear()
5. pop()
6. index()
7. count()
8. sort()
9. reverse()
10. copy()

Functions:
11. len(list)
12.min(list)
13.max(list)
14.sum(list)
15.sorted(list)

In [20]:
l=[10,20,30,"liki"]
l.append((12,13,"apple"))   #append() adds one element to the end of the list.
l                           #It adds the item as a single element.

[10, 20, 30, 'liki', (12, 13, 'apple')]

In [19]:
l=[10,20,30, "liki"]
l.extend((12,13,"apple"))   #extend() adds multiple elements to the list.
l

# append() adds the whole object as one element, whereas extend() adds each element separately.

[10, 20, 30, 'liki', 12, 13, 'apple']

In [24]:
a=[90,80,70,0]   #removes values from the end
a.pop()    
print(a)

a.pop(0)
print(a)       #can delete values at exact location


x=a.pop(0)
print(x)       #It returns the removed value.

[90, 80, 70]
[80, 70]
80

In [30]:
a=[90,80,70,0] 
a.remove(70)      #accepts value and deletes them
a

a = [10, 20, 30, 20]
a.remove(20)
print(a)                  #Deletes the first occurrence of that value.

                          
a = [10, 20, 30, 20]
x=a.remove(20)
print(x)             #Does not return anything.

[10, 30, 20]
None

In [32]:
a.clear() 
a                      #removing all elements in a list

[]

In [37]:
m=["liki",24,45]
del(m) #removes the entire value with the variable
m

#del(m) deletes the entire variable m, not just the values.

#The variable name m is completely removed from memory.

NameError: name 'm' is not defined

In [38]:
a = [10, 20, 30, 20]    #Returns the index position of the first occurrence of a value.
print(a.index(20))     #Gives ValueError if value not found.

1

In [39]:
a = [10, 20, 30, 20]     #Returns the number of times a value appears in the list.
print(a.count(20))

2

In [40]:
a = [4, 2, 1, 3]
a.sort()              #Sorts the list in ascending order by default.
print(a)             #Modifies the original list.

[1, 2, 3, 4]

In [41]:
a = [1, 2, 3]
a.reverse()    #Reverses the order of elements in the list.
print(a)       #Does not sort, just reverses current order.

[3, 2, 1]

In [51]:
a = [[1, 2], 3]
b = a.copy()        # copy Creates a new outer list.
print(b)

a[0][0] = 100
print(b)
print(id(a) == id(b)) #It does not create new copies of nested objects.

[[1, 2], 3]
[[100, 2], 3]
False

In [53]:
import copy
a = [[1, 2], [3, 4]]
b = copy.deepcopy(a)
a[0][0] = 100

print("Original:", a)
print("Copied:", b)
print(id(a) == id(b))

Original: [[100, 2], [3, 4]]
Copied: [[1, 2], [3, 4]]
False

In [ ]:
Observation: 
Copy :
creates a new outer list
Inner (nested) objects are shared
Changes inside nested objects affect both lists  

Deep Copy:
Deep copy Creates a new outer list
Creates new inner objects
Completely independent copy

In [56]:
l=[20,40,56,"likitha","python"]
print(len(l))

5

In [58]:
l = [23, 56, 70, 200, 34]  
print(min(l))   # Returns the smallest element in the list
print(max(l))   # Returns the largest element in the list
print(sum(l))   # Returns the sum of all elements in the list

23
200
383

In [59]:
l=[23,56,70,200,34]
sorted(l)

observation:
#sort() is a list method.
#It modifies the original list.
#It does not return a new list (returns None).

#sorted() is a built-in function.
#It does not modify the original list.
#It returns a new sorted list.

[23, 34, 56, 70, 200]