## Tuple in Python

Defination:
     Tuple is a built-in data type in Python used to store multiple items in a single variable.
A tuple is written using round brackets ( ), and the elements are separated by commas.

In [20]:
#Create a tuple
a=10,20,30
b=()
d=(1,) # Single element tuple (comma is important)

print(type(a))
print(type(d))
print(type(b))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

### Properties of Tuple

In [ ]:
Ordered
Heterogeneous
Nestead
Duplicates allow
Immutable

In [11]:
t=23,46,"liki",50,["liki",2]   # Tuple is orderd 
t

(23, 46, 'liki', 50, ['liki', 2])

In [12]:
k=23,"hii",[23,"python"],2.4,True
k                                    #Heterogeneous allow all datatypes

(23, 'hii', [23, 'python'], 2.4, True)

In [14]:
k=("jii",("python","hii",23))   # Nestead tuple accept 
k

('jii', ('python', 'hii', 23))

In [15]:
l=(23,4,4,5,23,"python","python")
l                       # Duplicates allow

(23, 4, 4, 5, 23, 'python', 'python')

In [18]:
t=(12,23,4,"hii","python")
t[0]                 #After creating a tuple, you cannot change its values.
t[1]="Hello"   #tuples are immutable, they use less memory and are faster than lists.

TypeError: 'tuple' object does not support item assignment

In [23]:
#built in tuple

t=(1,2,3,4,1)
print(t.count(1))               # Only 2 built in methods in tuple 
print(t.index(2))

2
1

In [27]:
#Built in Functions in tuple
t=(1,2,3,4,1)
print(len(t))
print(min(t))
print(max(t))
print(sum(t))
del t
print(t) #Tuple elements cannot be modified or deleted individually, but the whole tuple variable can be deleted using del.

5
1
4
11

NameError: name 't' is not defined

## Set in Python

Defination:
  A set is a built-in data type in Python used to store multiple items in a        single variable.
  Sets are written using curly brackets { }

In [37]:
#Create a set
a={12,13,14} 
print(type(a))
b={12}
print(type(b))
c={}  #empty curly brackets means it takes dictionary not a set one value is requered 
print(type(c))

<class 'set'>
<class 'set'>
<class 'dict'>

## Properties of set

Not Ordered
Heterogeneous
Not allow Nestead
Duplicates not allow
mutable

In [38]:
s={20,30,"python","hii"}   
s               # Set is unordered

{20, 30, 'hii', 'python'}

In [41]:
d={20,30,"python","hii",["liki",45],(23,45,"hello")}
d   #Accept hashable(immutable) datatypes only(like tuple,string,int..)

TypeError: unhashable type: 'list'

In [45]:
a={1,2,3,{5,6}}
a                 # Not allow Nestead
                 #All elements inside a set must be hashable (immutable).

TypeError: unhashable type: 'set'

In [46]:
a={23,33,23,444,55,23}
a                               #Duplicates not allow, set automatically remove duplicates

{23, 33, 55, 444}

In [58]:
a={23,33,23,444,55,23}
print("Before:",id(a))    #Same ID,Object modified in same memory
a.add("Python")           # So Set is mutable
print("After:",id(a))

Before: 1781722138432
After: 1781722138432

In [65]:
#SET
a={1,2,3,90,'kl'}
a.add((12,13,"hii")) 
a

{(12, 13, 'hii'), 1, 2, 3, 90, 'kl'}

In [63]:
a={1,2,3,90,'kl'}
a.update(["liki",23,2002])
a

{1, 2, 2002, 23, 3, 90, 'kl', 'liki'}

In [ ]:
Observation:
     1.add() inserts only one single element into the set.
     2.update() inserts multiple elements from an iterable (list, tuple, set, string).

In [66]:
b=a.pop() 
print(b)  #pop any element in the list randomly

1

In [67]:
a={23,-1,200,-3,90}
sorted(a)          #Returns a new sorted LIST
                   #Does NOT modify original object

[-3, -1, 23, 90, 200]

In [71]:
s={23,24,7,80,200,"liki"}
s.clear()    # Remove all elements in set
print(s)

set()

In [74]:
a={23,-1,200,-3,90} 
a.remove(200)
a
a.remove(9)

KeyError: 9

In [77]:
a={23,-1,200,-3,90} 
a.discard(200)
a
a.discard(9)   #remove() raises an error if the element is not found, while discard() does not.
a

{-3, -1, 23, 90}

In [78]:
a={12,13,14}
b={14,5,6} 
print(a.union(b))
print(a|b) #union

{5, 6, 12, 13, 14}
{5, 6, 12, 13, 14}

In [79]:
a={12,13,14}
b={14,5,6} 
print(a.intersection(b)) 
print(a &b) #intersection

{14}
{14}

In [80]:
a={12,13,14}
b={14,5,6} 
print(a.difference(b))
print(a-b) #difference
print(b.difference(a))

{12, 13}
{12, 13}
{5, 6}

In [81]:
a={12,13,14}
b={14,5,6} 
a.symmetric_difference(b)
(a | b) - (a & b)

{5, 6, 12, 13}

In [ ]:
Question:
there are 2 classrooms in a school classA consistes of karan,shirisha,krish,
nagesh,saurabh and classB consist of sakshi,shrikant,sruthi,srishti . 
There was a competition in the school and students scored following 
marks in the competition. 
In competition1 karan,sruthi,sakshi scored 3.4,3.5,4.7 
and in competition2 karan,shirisha,nagesh,saurabh scored 12,13,14,15

how many students in classA only participated in competition2
how many students participated in only 1 competition
how many students participated in both the competition who were 
not part of classA
total number of students in school
total number of students in the competition
toal number of students in the competition who were not from class A

In [82]:
classA = {"karan", "shirisha", "krish", "nagesh", "saurabh"}
classB = {"sakshi", "shrikant", "sruthi", "srishti"}

comp1 = {"karan", "sruthi", "sakshi"}
comp2 = {"karan", "shirisha", "nagesh", "saurabh"}

In [87]:
#1.How many students in Class A only participated in Competition 2?
((classA & comp2) - comp1)

{'nagesh', 'saurabh', 'shirisha'}

In [88]:
#2 How many students participated in only 1 competition?
comp1 ^ comp2

{'nagesh', 'sakshi', 'saurabh', 'shirisha', 'sruthi'}

In [89]:
#3 How many students participated in both competitions who were NOT part of Class A?
(comp1 & comp2) - classA

set()

In [92]:
#4 Total number of students in school
classA | classB

{'karan',
 'krish',
 'nagesh',
 'sakshi',
 'saurabh',
 'shirisha',
 'shrikant',
 'srishti',
 'sruthi'}

In [93]:
#5 Total number of students in competition
comp1 | comp2

{'karan', 'nagesh', 'sakshi', 'saurabh', 'shirisha', 'sruthi'}

In [94]:
#6 Total number of students in competition who were NOT from Class A
(comp1 | comp2) - classA

{'sakshi', 'sruthi'}